<table
    style="border-spacing:0;border-collapse:collapse;padding:0;vertical-align:top;text-align:center;height:100%;width:100%;background:#fafafa;color:#333333;font-family:'Myriad Pro',Arial,sans-serif;font-weight:normal;margin:0;line-height:20px;font-size:14px">
    <tbody>
        <tr style="padding:0;vertical-align:top;text-align:center">
            <td style="word-break:break-word;padding:0;vertical-align:top;text-align:center;color:#333333;font-family:'Myriad Pro',Arial,sans-serif;font-weight:normal;margin:0;line-height:20px;font-size:14px;border-collapse:collapse!important"
                align="center" valign="top">
                <center style="width:100%;min-width:580px">
                    <table
                        style="border-spacing:0;border-collapse:collapse;padding:0;vertical-align:top;text-align:inherit;width:580px;margin:20px auto">
                        <tbody>
                            <tr style="padding:0;vertical-align:top;text-align:left">
                                <td
                                    style="word-break:break-word;padding:0;vertical-align:top;text-align:left;color:#333333;font-family:'Myriad Pro',Arial,sans-serif;font-weight:normal;margin:0;line-height:20px;font-size:14px;border-collapse:collapse!important">
                                    <table
                                        style="border-spacing:0;border-collapse:collapse;padding:0px;vertical-align:top;text-align:left;width:100%;display:block">
                                        <tbody>
                                            <tr style="padding:0;vertical-align:top;text-align:left">
                                                <td
                                                    style="word-break:break-word;padding:0;vertical-align:top;text-align:left;color:#333333;font-family:'Myriad Pro',Arial,sans-serif;font-weight:normal;margin:0;line-height:20px;font-size:14px;padding-right:0px;border-collapse:collapse!important">
                                                    <div
                                                        style="background:#ffffff;background-color:#ffffff;border-radius:3px">
                                                        <table
                                                            style="border-spacing:0;border-collapse:collapse;padding:0;vertical-align:top;text-align:left;margin:0 auto;width:540px">
                                                            <tbody>
                                                                <tr
                                                                    style="padding:0;vertical-align:top;text-align:left">
                                                                    <td
                                                                        style="word-break:break-word;vertical-align:top;text-align:left;color:#333333;font-family:'Myriad Pro',Arial,sans-serif;font-weight:normal;margin:0;line-height:20px;font-size:14px;border-collapse:collapse!important">
                                                                        <div style="padding:45px 20px 10px 20px;"><img
                                                                                tabindex="0" class="CToWUd a6T"
                                                                                src="{{ SITEURL }}img/logo.png" alt=""
                                                                                style="margin:0;padding:0;outline:none;text-decoration:none;max-width:170px;max-height: 70px;"
                                                                                border="0">
                                                                            <h2
                                                                                style="color:#333;font-family:'Myriad Pro',Arial,sans-serif;font-weight: bold;padding:0;margin:40px 0 25px;text-align:left;line-height:1;word-break:normal;font-size:30px;letter-spacing:-1px">
                                                                                Email Address Verification</h2>
                                                                            <p
                                                                                style="margin:0;word-wrap:normal;font-family:'Myriad Pro',Arial,sans-serif;font-size:16px;font-weight:300;color:#333333;line-height:20px;padding:0;text-align:left;margin-bottom:15px">
                                                                                Hello,<br><br>We are attempting to
                                                                                validate that you as
                                                                                the authority of domain {{ domain }}
                                                                                approve the use of
                                                                                <a href="{{ siteUrlWWW }}">{{ siteUrlWWWDisplay }}</a>
                                                                                services to send email on your behalf.
                                                                                By acknowledging
                                                                                this email it will help validate the
                                                                                trust of your email
                                                                                to be used by {{ siteName }} services.
                                                                            </p>
                                                                            <p
                                                                                style="margin:0;word-wrap:normal;font-family:'Myriad Pro',Arial,sans-serif;font-size:16px;font-weight:300;color:#333333;line-height:20px;padding:0;text-align:left;margin-bottom:15px">
                                                                                {{ firstName }} {{ lastName }} has
                                                                                created an account with {{ siteUrlWWWDisplay }} and
                                                                                would like to send email using email
                                                                                address {{ v }} at
                                                                                your domain {{ domain }}.</p>
                                                                            <p
                                                                                style="margin:0;word-wrap:normal;font-family:'Myriad Pro',Arial,sans-serif;font-size:16px;font-weight:300;color:#333333;line-height:20px;padding:0;text-align:left;margin-bottom:15px">
                                                                                If you wish to authorize this request,
                                                                                please click the
                                                                                button below to acknowledge.</p>
                                                                            <div
                                                                                style="padding:20px 0 25px;text-align:center;color:#ffffff">
                                                                                <a href="{{ verbtn }}"
                                                                                    style="color:#ffffff;text-decoration:none;display:inline-block;text-align:center;background:#1f5e8f;background-color:#1f5e8f;border-radius:3px;padding:20px 44px;letter-spacing:normal;font-size:16px;font-family:'Myriad Pro',Arial,sans-serif;margin:0 auto;width:auto!important"
                                                                                    target="_blank">Verify Email Address
                                                                                    Use</a>
                                                                            </div>
                                                                            <p
                                                                                style="margin:0;word-wrap:normal;font-family:'Myriad Pro',Arial,sans-serif;font-size:16px;font-weight:300;color:#333333;line-height:20px;padding:0;text-align:left;margin-top:15px">
                                                                                If you don't wish to authorize this
                                                                                request you can
                                                                                disregard this message. If you have any
                                                                                concerns about
                                                                                security or unsolicited requests for
                                                                                your email, please
                                                                                contact us at {{ toAdminSupportEmail }}
                                                                            </p>
                                                                        </div>
                                                                    </td>
                                                                    <td
                                                                        style="word-break:break-word;padding:0!important;vertical-align:top;text-align:center;color:#333333;font-family:'Myriad Pro',Arial,sans-serif;font-weight:normal;margin:0;line-height:20px;font-size:14px;width:0px;border-collapse:collapse!important">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </td>
        </tr>
    </tbody>
</table>