<div style="font-family: 'Myriad Pro',Arial,sans-serif;line-height: 1.5">
    <center style="width:100%;min-width:580px">
        <table
            style="border-spacing:0;border-collapse:collapse;padding:0;vertical-align:top;text-align:inherit;width:580px;margin:20px auto">
            <tbody>
                <tr style="padding:0;vertical-align:top;text-align:left">
                    <td
                        style="word-break:break-word;padding:0;vertical-align:top;text-align:left;font-family:'Myriad Pro',Arial,sans-serif;font-weight:normal;margin:0;line-height:20px;font-size:14px;border-collapse:collapse!important">


                        <p>{{ customerLogo|safe }}</p>
                        <p><b>{{ inviteeName }} has added you to an event with {{ memberName }}.</b></p>
                        <p>Event Details:<br /><br /></p>
                        <p>Hi {{ inviteeName }},<br /></p>
                        <p>Your {{ eventType }} with {{ memberName }} at {{ meetingDateTime }} {{ inviteeTimezone }} is
                            scheduled.<br /><br /></p>
                        {% if comment != "" %}
                        <p><b>Kindly see the details of the meeting.</b></p>
                        <p>{{ comment|safe }}<br /><br /></p>
                        {% endif %}
                        {% if guestsList != "" %}
                        <p><b>Guests:</b></p>
                        <p>{{ guestsList|safe }}<br /><br /></p>
                        {% endif %}
                        {% if webConference != "" %}
                        <p>{{ webConference|safe }}<br /><br /></p>
                        {% endif %}
                        <p>Thank You<br>Support</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</div>