
<div style="font-family: 'Myriad Pro',Arial,sans-serif;line-height: 1.5">

    <center style="width:100%;min-width:580px">
        <table style="border-spacing:0;border-collapse:collapse;padding:0;vertical-align:top;text-align:inherit;width:580px;margin:20px auto">
            <tbody>
            <tr style="padding:0;vertical-align:top;text-align:left">
                <td style="word-break:break-word;padding:0;vertical-align:top;text-align:left;font-family:'Myriad Pro',Arial,sans-serif;font-weight:normal;margin:0;line-height:20px;font-size:14px;border-collapse:collapse!important">

                    <p>{{ customerLogo|safe }}</p>
                    <p>This is to inform you that your upcoming scheduled meeting on {{ meetingDateTime }}, {{ inviteeTimezone }} is canceled/deleted.<br /><br /></p>
                    {% if webConference != "" %}
                        <p>{{ webConference|safe }}<br /><br /></p>
                    {% endif %}
                    <p>Thank You<br>Support</p>

                </td>
            </tr>
            </tbody>
        </table>
    </center>
</div>
