<div style="font-family: 'Myriad Pro',Arial,sans-serif;line-height: 1.5">
<center>
    {% include "header-template.html" %}
        <br><br>
        <div><br><strong>Detail :</strong> {{ Details }}</div>
        <div><br><strong>User Id :</strong> {{ UserId }}</div>
        <div><br><strong>User Name :</strong> {{ UserName }}</div>
        <div><br><strong>Email :</strong> {{ Email }}</div>
        <div><br><strong>Plan Name :</strong> {{ PlanName }}</div>
    {% include "footer-template.html" %}
</center>
</div>
