<div style="font-family: 'Myriad Pro',Arial,sans-serif;line-height: 1.5">
<center>
{% include "header-template.html" %}
<h2 style="color:#333;font-family:'Myriad Pro',Arial,sans-serif;font-weight: bold;padding:0;margin:40px 0 25px;text-align:left;line-height:1;word-break:normal;font-size:20px;letter-spacing:-1px">Request to Change Your Password at {{ siteName }}</h2>
<p style="margin:0;word-wrap:normal;font-family:'Myriad Pro',Arial,sans-serif;font-size:16px;font-weight:300;color:#333333;line-height:20px;padding:0;text-align:left;margin-bottom:15px">It looks like your need to reset your password. Please click the button below to take you back to our website so we can change your password.</p><br>
<div style="padding:20px 0 25px;text-align:center;color:#ffffff"><a href="{{ Url }}" style="color:#ffffff;text-decoration:none;display:inline-block;text-align:center;background:#1f5e8f;background-color:#1f5e8f;border-radius:3px;padding:20px 44px;letter-spacing:normal;font-size:16px;font-family:'Myriad Pro',Arial,sans-serif;margin:0 auto;width:auto!important" target="_blank">Password Reset Link</a></div>
<br>If you have any issues please send us an email at {{ toAdminSupportEmail }}</br>
{% include "footer-template.html" %}
</center>
</div>
