<div style="font-family: 'Myriad Pro',Arial,sans-serif;line-height: 1.5">
{% include "header-template.html" %}
    <p><br>Hi {{ firstName }}<br>You have been granted access to {{ siteName }}! <br>Please click the following link to set your Credential and Security Questions<br><a href={{ link }}>{{ link }}</a><br><br>Important Link <br>Youtube Instructional Videos. > <a href='https://www.youtube.com/channel/UCBP754pS6ulQKwa38lE5XSw'>https://www.youtube.com/channel/UCBP754pS6ulQKwa38lE5XSw</a><br>Support Site > <a href='{{ siteUrlWWW }}/support'>{{ siteUrlWWW }}/support</a><br><br /><br></p>
    <p>Thank You<br>Support</p>
{% include "footer-template.html" %}
</div>
