<div style="font-family: 'Myriad Pro',Arial,sans-serif;line-height: 1.5; font-size: 18px;">
    <center>
        <div style="width: 500px;">
            <div><img src="{{ SITEURL }}img/logo.png" style="max-width:170px;max-height: 70px;" /></div>
            <div style="background-color: #f0f6ff; padding: 20px; margin-top: 20px;">
                <div style="font-size: 30px; font-weight: bold;">Hello {{ firstName }} {{ lastName }}</div>
                <div style="font-size: 30px; font-weight: bold;">Welcome to {{ siteNameBigCom }}!</div>
                <div>Thank you for registering with <a style="color: inherit; text-decoration: none;" href="{{ siteUrlWWW }}">{{ siteUrlWWWDisplay }}</a>! This email contains important information regarding your account. Please save it for your reference.</div>
            </div>
            <div style="padding: 30px 0px; width: 400px;">
                <a href="https://youtu.be/WRF2Yiur0Kk" target="_blank" style="color: inherit;text-decoration: none;">
                    <div style="padding: 20px 0px;">
                        <div><img src="{{ SITEURL }}img/wc-gs.png" /></div>
                        <div style="font-size: 44px;font-weight: bold;">Get Started</div>
                    </div>
                </a>
                <a href="https://youtu.be/UVmqM2tScdU" target="_blank" style="color: inherit;text-decoration: none;">
                    <div style="padding: 20px 0px;">
                        <div><img src="{{ SITEURL }}img/wc-uc.png" /></div>
                        <div style="font-size: 44px;font-weight: bold;">How to Upload<br>your Contacts</div>
                    </div>
                </a>
                <a href="https://youtu.be/hb4470Jpnmw" target="_blank" style="color: inherit;text-decoration: none;">
                    <div style="padding: 20px 0px;">
                        <div><img src="{{ SITEURL }}img/wc-ec.png" /></div>
                        <div style="font-size: 44px;font-weight: bold;">How to Start your First Email Campaign</div>
                    </div>
                </a>
                <a href="https://youtu.be/rdTthFZQI_g" target="_blank" style="color: inherit;text-decoration: none;">
                    <div style="padding: 20px 0px;">
                        <div><img src="{{ SITEURL }}img/wc-sc.png" /></div>
                        <div style="font-size: 44px;font-weight: bold;">How to Start your First SMS Campaign</div>
                    </div>
                </a>
            </div>
            <div style="background-color: #f0f6ff; padding: 20px; text-align: left;">
                <div style="margin-bottom: 20px;">To stay current on the latest features and news from <a style="color: inherit; text-decoration: none;" href="{{ siteUrlWWW }}">{{ siteUrlWWWDisplay }}</a> please follow us at <a style="color: inherit; text-decoration: none;" href="https://www.facebook.com/SalesAndMarketingAI/">Facebook</a>, <a style="color: inherit; text-decoration: none;" href="https://x.com/sam_ai_inc">Twitter</a>.</div>
                <div style="margin-bottom: 20px;">To get your started please take a look at our Help Desk forums at <a style="color: inherit; text-decoration: none;" href="{{ siteUrlWWW }}/support">{{ siteUrlWWW }}/support</a>. If you have any questions about our site, please feel free to email us at <a style="color: inherit; text-decoration: none;" href="mailto:{{ toAdminSupportEmail }}">{{ toAdminSupportEmail }}</a>.</div>
                <div style="margin-bottom: 20px;">Follow the {{ siteName }} channel for more tutorials on how to use our product suite. <a style="color: inherit; text-decoration: none;" target="_blank" href="https://www.youtube.com/@emailsandsurveys777">Click Here</a></div>
                <div style="margin-bottom: 20px;">{{ siteName }} is a division of Kaiasoft is a company whose goals is to bring you the best capabilities on the web. Please take a look at some of our other solutions at <a style="color: inherit; text-decoration: none;" href="https://www.kaiasoft.com">Kaiasoft.com</a>.</div>
                <div>Sincerely<br>Your Friends at {{ siteName }}</div>
            </div>
            <div style="color: #547dbf; padding: 20px 0px;">
                <div>&copy;2001-{% now "Y" %} All Rights Reserved.</div>
                <div>{{ siteName }} &reg; is a division of {{ mainCompanyName }}.</div>
                <div>Email : <a style="color: #547dbf; text-decoration: none;" href="mailto:{{ toAdminSupportEmail }}">{{ toAdminSupportEmail }}</a></div>
            </div>
            <div><img src="{{ SITEURL }}img/logo.png" style="max-width:170px;max-height: 70px;" /></div>
        </div>
    </center>
</div>
